<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="icon" href="../../favicon.ico">

    <title>Bone Diagnostic LLC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Link to main css document for the site -->
    <link type="text/css" rel="stylesheet" href="../assets/css/main.css">

    <!-- Link to the two main fonts used in the site-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/6c92e23d2c.js"></script>
    <script>
        $(function(){
            $("#header").load("../assets/pageHeader.html");
            $("#footer").load("../assets/pageFooter.html");
        });
    </script>
</head>

<body>
    <!--Header-->
    <nav id="header"></nav>






    <!--Footer-->
    <div id="footer"></div>
</body>
</html>